*{
    margin: 0;
    padding: 0;
   
}




.cabeçalho{
    
    background-color: #fad6ad;;
    height:100px;
    text-align: center;
    padding: 15px;
    }
    .logobombom{

        width: 230px;
    }
    .bombomdeuva{

        background-image: url( bombom.jpg) ;
        background-position: center;
        background-size: cover;
        height: 420px;
    }

    .ingredientes{

        width: 500px;
        margin:auto;
        padding: 20px;
        background-color: white;
        margin-top: 50px;
        border-radius: 5px;
        font-weight: 300px;
    }

    h1{

text-align: center;
color: black;
font-size: 30px;
font-weight: 400px;
    }
    li{
       
        list-style-position: inside;
        font-size: 25px;

    }
    
    a {

        text-decoration: none;
        background-color: #ff6a28;
    }

