body{
    
    background-color: rgb(250, 244, 244);
   font-weight: bold;
font-style: initial;
}
h1{color: rgb(0, 0, 0);}

.pikachu1{
    width: 500px;
}
.cabecalho{
    background-color: black;
    color:#FFFFFF;
    padding: 50px;
    height: 30px;
}
.cabecalho_tabela{
    width: 2000px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}
